html {
  font: 112.5%/1.56 -apple-system,'BlinkMacSystemFont','Helvetica Neue','Arial',sans-serif;
  font-weight: normal;
  font-size: 112.5%;
  line-height: 1.56;
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Arial", sans-serif;
  font-kerning: auto;
  font-feature-settings: normal;
}


/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.title {
  text-align: left;
  margin-bottom: 1.56rem;
  color: hsla(0,0%,0%,0.85);
  font-family: -apple-system, 'BlinkMacSystemFont', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-size: 2.5rem;
}
.date {
  font-weight: 200;
  font-size: 1rem;
}

.menu, footer { text-align: center; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}


body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  color: hsla(0,0%,0%,0.7);
  font-family: -apple-system,'BlinkMacSystemFont','Helvetica Neue','Arial',sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  font-kerning: normal;
}

body h2 {
  padding-bottom: 0px;
  font-weight: 200;
  font-size: 2rem;
  color: hsla(0,0%,0%,0.8);
}

body h3 {
  font-weight: 300;
  font-size: 1.5rem;
  color: hsla(0,0%,0%,0.8);
}

ul {
  margin-top: 10px;
  padding-left: 30px;
}

p {
  margin: 0px 0;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

img {
  width: 50%;
}


/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
