html {
	overflow-y: scroll;
}
body {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	margin: 0;
	padding: 1ex;
}
/* HTML5 semantic tags: some (older) browsers display this inline by default */
article, figcaption, figure, header, main, nav {
	display: block;
}
/* center images */
img {
	display: block;
	margin: 0 auto;
}
table, img {
	border: 0;
}
hr {
	border: 0;
	border-bottom: 3px solid #aaa;
	height: 3px;
}
h1 {
	font-size: 140%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 120%;
}
h1,
h1 a,
h1 a:visited,
h2,
h2 a,
h2 a:visited,
h3,
h3 a,
h3 a:visited,
h1 a:hover,
h2 a:hover,
h3 a:hover {
	color: inherit;
	text-decoration: none;
}
table tr td {
	padding: 2px 10px 2px 0px;
}
pre {
	margin: 0;
}
code {
	background-color: #eee;
	border: 3px solid #aaa;
	display: block;
	font-family: monospace;
	overflow-x: auto;
	padding: 5px;
	word-wrap: normal;
}
#menu td {
	padding: 1ex 0;
}
#main {
	border-top: 3px solid #aaa;
}
#menuwrap,
#menu,
#main {
	margin: 0px auto;
	max-width: 80ex;
}
#menu a {
	font-weight: bold;
	vertical-align: middle;
}
.hidden {
	display: none;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #bdbdbd;
	}
	code {
		background-color: #111;
		border-color: #222;
	}
	hr {
		border-color: #222;
	}
	a {
		color: #56c8ff;
	}
	#main {
		border-top: 3px solid #222;
	}
}
