<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- $if(katex)$ -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous"> -->
        <!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O" crossorigin="anonymous"></script> -->
        <!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js" integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script> -->
        <!-- $endif$ -->
    </head>
    <body>
        <div class="container">
            <header>
                <a href="/">Home</a>
                <a href="/notes.html">Notes</a>
                <!-- <a href="/archive.html">Posts</a> -->
                <a href="/links.html">Links</a>
                <!-- <a type="application/rss+xml" href="/feed.rss">RSS</a> -->
            </header>
            <div>
                $body$
            </div>
        </div>

        <div class="footer">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
        </div>
    </body>
</html>
